

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-BoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'),
      url('fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
      url('fonts/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-MediumItalic.woff2') format('woff2'),
      url('fonts/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
      url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
      url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic.woff2') format('woff2'),
      url('fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}




.border{
  width: 100%;
  height: 20px;
  border-top: 20px solid rgb(23, 40, 82);
  
}

.aboutus {
  text-align: center;
  padding: 0px 0px 10px 0px;
  /* margin: 0px 20px 20px; */
  background-color: white;
  height: auto;
  margin-top: 0px;
}

.aboutus div {
  padding: 10px 10px;
  /* border-radius: 20px; */
}

.about-card img{
  height: 100px;
  width: 100px;
}
/* 
#aboutush4 {

font-size: 25px;
  
 

} */

.aboutus div span {
  font-size: 2.1rem;
  color: rgb(23, 40, 82);
  display: inline-block;
  padding: 10px 0px;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0px 10px;
  position: relative;
}
/* .aboutus div span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color:orange;
    transition: all ease 1s;
    margin-bottom: 10px;

} */

.aboutus .about-cards {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  /* margin: 0px 10px; */
  display: flex;
  justify-content: space-evenly;
}

.aboutus .about-cards .about-card {
  width: 100%;
  height: auto;
  
}

.aboutus .about-cards .about-card h3 {
  color: rgb(23, 40, 82);
  text-align: center;
}

.about-card p {
  display: inline-block;
  font-family: "Open Sans", verdana, Helvetica, sans-serif ;
  font-size: 1.2rem;
  font-weight: 500;
  width: 98%;
  text-align: center;
  padding: 0px  20px 20px 20px;
}
.readmore{
  margin-top: 10px;
}
.readmore a{
  color: rgb(23,40,82);
  font-family: "Open Sans", verdana, Helvetica, sans-serif ;
  font-size: 1.3rem;
  font-weight: 600;
  
  border: 1px solid rgb(23,40,82);
  padding: 5px 10px;
  border-radius: 2px;

}

@media screen and (max-width:760px){

    .aboutus .about-cards {
   flex-direction: column;
      }

}

.about-p{
  display: none;
}
.about-h2{
  display: none;
}

.banner{
  height: 100vh;

}
.banner img{
  height: 100%;
  width: 100%;
  transition: ease 1s;
  animation: opa 1s;
  object-fit: cover;

}
@keyframes opa{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.about-us-container #aboutush4{
  font-size: 1.3rem;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: 500;
  padding: 30px 20px;
  text-align: left;
}

 .about-card h3{
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  width: 100%;
  margin: 30px 0px 20px;
  
}
.about-second{
  height: auto;
  margin: 20px 0px;
}
.aboutusbottom {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* list-style-type: square; */
  height: 60vh;
  width: 100%;
  padding: 40px 0 40px 0;
  /* background: linear-gradient(180deg, #4abaff ,rgb(0, 63, 221), rgb(23, 40, 82) ); */
  /* background-color:  rgb(99, 110, 158); */
  background-color: rgb(45, 43, 43);
  /* border-radius: 50px; */
}
.aboutusbottom ul{
  text-align: center;
  width: 75%;
  
}
.aboutusbottom ul li{
  color: #ffffff;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  list-style-type: square;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  padding: 10px;
}
/* .redirect-button{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 20vh;
 background:rgb(45, 43, 43);
}
.redirect-button span{
  font-size: x-large;
  color: white;
}
.redirect-button button{
  margin: 30px;
  height: 60px;
  width: 180px;
  background-color: rgb(23, 40, 82);
  border-radius: 5px;
}
.redirect-button a{
  font-size: x-large;
  color: white;
  font-weight: 500;
  background: transparent;
  text-decoration: none;
} */
@media screen and (max-width:480px){

  .about-us-container{
    flex-wrap: wrap;
  }
  .about-us-container #aboutush4{
    font-size: 1.1rem;
  }
  .about-us-container img{
    width: 100%;
    /* height: 15vh; */
  }
  .aboutusbottom{
    flex-wrap: wrap;
    height: auto;
  }
  .aboutusbottom ul li{
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin: 20px 0px;

  }
  .banner{
    flex-wrap: wrap;
    height: 45vh;
  }
  .about-p{
    display: none;
  }
  .about-h2{
    display: none;
  }
}

.about-h2{
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 2rem;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: 900;
  height: fit-content;
  width: fit-content;
}

.about-p{
  color: #ffffff;
  position: absolute;
  top: 30%;  left: 5%;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  height: fit-content;
  width: fit-content;
}

.banner{
  position: relative;
}