

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-BoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'),
      url('fonts/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
      url('fonts/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-MediumItalic.woff2') format('woff2'),
      url('fonts/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
      url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
      url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Italic.woff2') format('woff2'),
      url('fonts/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url('fonts/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}




.border{
  width: 100%;
  height: 20px;
  border-top: 20px solid rgb(23, 40, 82);
  
}

.aboutus {
  text-align: center;
  padding: 0px 0px 10px 0px;
  background-color: white;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  
}

.aboutus div {
  padding: 10px 10px;
 
}

.about-card img{
  height: 100px;
  width: 100px;
}


.aboutus .about-cards {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  
}

.aboutus .about-cards .about-card {
  width: 100%;
  height: auto;
  
}

.aboutus .about-cards .about-card h3 {
  color: rgb(23, 40, 82);
  text-align: center;
}

.about-card p {
  display: inline-block;
  font-family: "Open Sans", verdana, Helvetica, sans-serif ;
  font-size: 1.2rem;
  font-weight: 500;
  width: 98%;
  text-align: center;
  padding: 0px  20px 20px 20px;
}


@media screen and (max-width:760px){

    .aboutus .about-cards {
   flex-direction: column;
      }
      .about-p{
        display: none;
      }
      .about-h2{
        display: none;
      }
      .about-us-container{
        width: 90%;
      }
      .about-us-container .about-second{
        display: none;
      }
      .about-us-container .left-about-us{
    
        overflow: hidden;
        left: -8px;
        margin: 15% 0 0 0;
        padding: 3rem 1rem;
      }
      .aboutusbottom, .left-bottom, .right-bottom{
        /* height:auto; */
        overflow-y: auto;
      }
      .Bg-aboutus{
        height: auto;
        overflow: hidden;
      }
}

.banner img{
  height: 70vh;
  width: 100%;
  transition: ease 1s;
  animation: opa 1s;
  object-fit: cover;

}
@keyframes opa{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.about-us-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
}

.about-us-container .left-about-us{
  background-color: rgb(45, 43, 43);
  color: #ffffff;
  width: 50%;
  position: relative;
  right: -100px;
  padding: 5rem 1rem;
  box-shadow: 5px 5px 10px rgb(94, 92, 92);
  transition: ease all 0.8s;
   z-index: 5;
}

.about-us-container .left-about-us:hover{
  transform: scale(1.1);
}

.about-us-container .left-about-us h4{
  font-size: 1rem;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: 500;
  margin: 2rem 0;
  text-align: left;
}

.about-us-container .about-second{
  width: 50%;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  z-index: 1;
  transition: ease-in  0.8s;
  
}
.about-us-container .about-second img{
  width: 100%;
  height: 500px;
}
.Bg-aboutus{
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutusbottom {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  width: 100%;
  padding: 40px 0 40px 0;
  margin: auto;
}
.aboutusbottom .left-bottom{
  box-shadow: 5px 5px 10px rgb(94, 92, 92);
  padding:2rem 1.8rem;
  margin: 2rem;
  width: 50%;
  height:250px;
  background-color: white;
  color:rgb(23,40,82);
  transition: ease-in  0.8s;
  
}
.aboutusbottom .left-bottom:hover{
  transform: scale(1.1);
}
.aboutusbottom .right-bottom{
  box-shadow: 5px 5px 10px rgb(94, 92, 92);
  padding:2rem 1.8rem;
  margin: 2rem;
  width: 50%;
  height:250px;
  background-color: rgb(23,40,82);
  color: #ffffff;
  transition: ease-in  0.8s;

}
.aboutusbottom .right-bottom:hover{
  transform: scale(1.1);
}

.about-card h3{
 display: inline-block;
 text-align: center;
 font-size: 1.2rem;
 font-family: "Open Sans", verdana, Helvetica, sans-serif;
 width: 100%;
 margin: 30px 0px 20px;
 
}

@media screen and (max-width:480px){

  .about-us-container{
    flex-wrap: wrap;
  }

  .aboutusbottom{
    flex-wrap: wrap;
    height: auto;
  }
  .aboutusbottom ul li{
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin: 20px 0px;

  }
  .banner{
    flex-wrap: wrap;
    height: 45vh;
  }
  .about-p{
    display: none;
  }
  .about-h2{
    display: none;
  }
  .about-us-container .about-second{
    display: none;
  }

}

.about-h2{
  color: #ffffff;
  position: absolute;
  top: 20%;
  left: 5%;
  font-size: 2rem;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: 900;
  height: fit-content;
  width: fit-content;
}

.about-p{
  color: #ffffff;
  position: absolute;
  top: 30%;  left: 5%;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  height: fit-content;
  width: fit-content;
}

.banner{
  position: relative;
}

.aboutus div span {
  font-size: 2.1rem;
  color: rgb(23, 40, 82);
  display: inline-block;
  padding: 10px 0px;
  font-family: "Open Sans", verdana, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px 0px 10px;
  position: relative;
}