*{
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('fonts/UbuntuSans-Regular.woff2') format('woff2'),
        url('fonts/UbuntuSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Sans Condensed';
  src: url('fonts/UbuntuSans-Bold.woff2') format('woff2'),
      url('fonts/UbuntuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Houschka Pro';
  src: 
      url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),
      ;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Houschka Pro';
  src: 
      url('fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Medium.woff') format('woff'),
      ;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Basis Grotesque Pro';
  src: 
 
      url('fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Regular.woff') format('woff'),;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src:url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),;
      
  font-weight: bold;
  font-style: normal;
}





.Bg-img{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:white;
    
}
.container{
    width: 100%;
    height: auto;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .left-div{
    width: 50%;
    height: auto;
    background-color:white;
    padding: 5rem 1rem;
    border-radius: 10px;
    position: relative;
    right: -100px;
    /* box-shadow: 3px 3px 3px rgb(92, 92, 94); */
    box-shadow: 5px 5px 10px rgb(94, 92, 92);
    transition: ease all 0.8s;
    z-index: 5;
    
}
.left-div h2{
    font-size: 40px;
    color: rgb(23,40,82);
font-family: "Houschka Pro";
font-weight: 500;
}
.left-div p{
    font-size: 15px;
    margin: 2rem 0;
    font-family: "Basis Grotesque Pro";
    font-weight: normal;

}

.container .right-div{
    width: 50%;
    height: 550px;
    background: url(images/img1.png);
    background-size: cover;
    border-radius: 8px;
    z-index: 1;
    transition: ease-in  0.8s;
      
}
.container .left-div:hover{
   transform: scale(1.1);

}
/* .container .right-div:hover{
    transform: scale(1.1);
 
 } */
.container .left-div .content a{
    text-decoration: none;
    font-size:20px;
    margin: 3rem 0;
    padding: 1rem 1rem;
    color: #000;
    background-color: rgb(131, 125, 125);
    border-radius: 8px;
    font-family: "Houschka Pro";
font-weight: 500;

}
.container .left-div .content a:hover{
    color: white;
    background-color: rgb(37, 35, 35);
}
@media screen and (max-width: 720px){

    .Bg-img{
        height: 80%;
        padding-top: 20%;
    }
    .container{
         width: 90%;
         flex-wrap: wrap-reverse;
    
    }
    .container .right-div{
        
        /* width: 100%;
        margin: 5px;
        padding: 2px; */
       display: none;
        
    }
    .container .left-div{
        width: 95%;
        overflow: hidden;
        right: 0px;
        top: -100px;
        margin: 15% 0 0 0;
    }
.content{
    text-align: center;
}

}
