

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Medium.woff2') format('woff2'),
        url('fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-MediumItalic.woff2') format('woff2'),
        url('fonts/OpenSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Italic.woff2') format('woff2'),
        url('fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



*{
    padding: 0;
    margin: 0;

}
.Bg-img{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:white;
    padding: 7px 0;
    
}
.container{
    width: 100%;
    height: auto;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.container .left-div{
    width: 50%;
    height: auto;
    background-color:white;
    padding: 5rem 1rem;
    border-radius: 2px;
    position: relative;
    right: -100px;
    /* box-shadow: 3px 3px 3px rgb(92, 92, 94); */
    box-shadow: 5px 5px 10px rgb(94, 92, 92);
    transition: ease all 0.8s;
    z-index: 5;
    
}
.left-div h2{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(23,40,82);

}
.left-div p{
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0;

}

.container .right-div{
    width: 50%;
    height: 550px;
    background: url(images/img1.png);
    background-size: cover;
    border-radius: 2px;
    z-index: 1;
    transition: ease-in  0.8s;
      
}
.container .left-div:hover{
   transform: scale(1.1);

}
/* .container .right-div:hover{
    transform: scale(1.1);
 
 } */
.container .left-div .content a{
    text-decoration: none;
    font-family: "Open Sans", verdana, Helvetica, sans-serif;
    font-size:20px;
    margin: 3rem 0;
    padding: 1rem 1rem;
    color: #ffffff;
    background-color: rgb(23,40,82);
    border-radius: 2px;

}
.container .left-div .content a:hover{
    color: white;
    background-color: rgb(37, 35, 35);
}
@media screen and (max-width: 720px){

    .Bg-img{
        height: 30%;
        padding-top: 20%;
        margin-bottom: -10%;
    }
    .container{
         width: 90%;
         flex-wrap: wrap-reverse;
    
    }
    .container .right-div{
        
        /* width: 100%;
        margin: 5px;
        padding: 2px; */
       display: none;
        
    }
    .container .left-div{
        width: 95%;
        overflow: hidden;
        right: 0px;
        top: -100px;
        margin: 15% 0 0 0;
    }
.content{
    text-align: left;
}
.left-div h2{
    text-align: left;
}
}
