/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

  section {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    /* overflow-y: auto; */
    background-color:white;

    padding: 50px;
   
    
  }
  .service img{
    mix-blend-mode: white;
  }
  .service{
    text-align: center;
    padding: 50px 0px;
    background-color: #ffffff;
  }
  .service h2{
    position: relative;
    display: inline;
    font-size: 25px;
    color: rgb(23,40,82);
    font-family: sans-serif;

  }


  .service h2::before{
  content: '';
	position: absolute;

	bottom: -10px;
	background-color:orange;
	height: 4px;
	box-sizing: border-box;
	width: 126px;
  }
  .service h4{
    font-size: 40px;
    color: rgb(23,40,82);
    margin: 30px 0;
    transition: 2s;
    animation: servicesSubheading 2s linear ;
    
  }

  @keyframes servicesSubheading {
    0%{
      transform: translate(-200px,0px);
    }
    100%{
      transform: translate(0px,0px);
    }
    
  }

  .section-heading{
    font-size: 2.5rem;
    color:black;
    margin: 20px 0px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, rgb(23,40,82) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    animation: services 2s linear ;


  }



  @keyframes services {
    0%{
      transform: translate(200px,0px);
    }
    100%{
      transform: translate(0px,0px);
    }
    
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    /* background-color: #2c7bfe; */
    position: relative;
    margin: auto;
    font-size: 30px;
    height: auto;
    width: 3.5em;
    /* color: #ffffff; */
    border-radius: 25%;
    /* display: grid; */
    place-items: center;
    transition: 0.5s;
  }
  .icon-wrapper img{
    max-width: 100%;
    height: 100px;
    width: 150px;
    margin-bottom: 5px;
  }
  .card:hover {
    background-position: 0 100%;
  }
 
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    .section {
      padding: 0 2em;
      overflow-y: scroll;
      box-sizing: border-box;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }


  }
  @media screen and (min-width: 992px) {
    .section {
      padding: 1em 3em;
      overflow-y: scroll;
      box-sizing: border-box;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }

  @media screen and (min-width: 400px) {
    .section {
      padding: 0 2em;
      overflow-y: scroll;
      box-sizing: border-box;
    }

  }

  @media screen and (max-width: 760px) {
    
    .service h4 {
      font-size: 25px;
    }
    .service .section-heading{
      font-size: 20px;
    }

    .service h2::before{
     
      width: 100px;
      }
  }