*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Ubuntu Sans';
    src: url('fonts/UbuntuSans-Regular.woff2') format('woff2'),
        url('fonts/UbuntuSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Sans Condensed';
  src: url('fonts/UbuntuSans-Bold.woff2') format('woff2'),
      url('fonts/UbuntuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Houschka Pro';
  src: 
      url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),
      ;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Houschka Pro';
  src: 
      url('fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Medium.woff') format('woff'),
      ;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Basis Grotesque Pro';
  src: 
 
      url('fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Regular.woff') format('woff'),
      ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src:url('fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
      url('fonts/BasisGrotesquePro-Bold.woff') format('woff'),;
      
  font-weight: bold;
  font-style: normal;
}





body{
  background-color: #FFF8DC;
    box-sizing: border-box;
}

/* Top navbar */



.nav{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    /* background-image: linear-gradient(to left,rgb(2, 2, 68), rgb(18, 18, 30), rgb(32, 32, 41),rgb(32, 32, 41), rgb(12, 11, 11), rgb(6, 6, 6) ) ; */

/* background-color: #FFF8DC; */
background-image: linear-gradient( rgba(66, 64, 64, 0.628), rgba(66, 64, 64, 0.527), rgba(147, 138, 138, 0.146));
    box-sizing: border-box;
    flex-wrap: wrap;
position: absolute;
z-index: 100;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;;
box-sizing: border-box;
}

.nav:hover{
  opacity: 1;
background-image: none;
  background-color: #FFF8DC;
  a{ color: #000;}
  .login-button{
    color: #000;
    border: 1px solid #0000FF;
  }
  .nav-logo img{
    background-color: transparent;
  }
  
  
}

.navy{
  opacity: 1;
background-image: none;
  background-color: #FFF8DC;
  position: sticky;
  top: 0%;
  a{ color: #000;}
  .login-button{
    color: #000;
    border: 1px solid #0000FF;
  }
  .nav-logo img{
    background-color: transparent;
  }
  
}

.navy .nav-menubar ul li a{
  color: #000;
}



/* @keyframes nav-color-change {
    
    
} */

/* Company Titel */

.nav-logo img{
  width: 15rem;
  background-color: #ffffff30;
  padding: 0px 15px ;
    border-radius: 2px;
     
}

/* .nav-logo h1 a{
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, rgb(255, 51, 0), rgb(255, 60, 0));
    padding: 10px 0px 0px 0px;
    background-clip: text;
    color: transparent;
    
    
} */
/* .nav h1 {
    font-size: 2.8rem;
    line-height:14px;
    
    
    

} */
.nav-logo{
    width: auto;
  display: flex;
  align-items: center;
  height: auto;
  margin-top: 0.4%;
    
    
}

/* .nav h1 span{
    font-size: 0.8rem;
    padding-left: 60px;
    
} */

/* Menubar-section */

.nav-menubar ul{
    display: flex;
    
}
.nav-menubar ul li{
    list-style: none;
    /* padding: 10px 20px; */
    margin-top: 0.5%;
}

.nav-menubar ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    
    font-weight: 300;
    
    padding: 5px 10px;
    font-family: 'Basis Grotesque Pro' ;
    color: #fff;
    position: relative;
    margin-top: 0.5%;
}

.submenu{
    display: none;
}

/* Button section  */
.login-button {
   
  margin-top: 0.9%;
    
        border: 1px solid #fff;
        background: none;
        padding: 5px 10px;
        font-size: 1.2rem;
        font-family: 'Basis Grotesque Pro' ;
        cursor: pointer;
        /* margin: 10px; */
        /* transition: 0.5s;
        background-position: 0 2.5%; */
        /* background: linear-gradient(#FFF8DC 50%, #0000FF 50%); */
        /* background-color: transparent;
        background-size: 100% 200%;
        background-position: 0 2.5%;
        position: relative;
        overflow: hidden;
        border-radius: 2px; */
        
        
color: #fff;


}
.login-button option{
  background-color: #ffffff;
  
}

.login-button option a{
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-family:'Basis Grotesque Pro' ;
  font-weight: 300;
  padding: 5px 10px;
  
}
/* .login-button a{
  text-decoration: none;
    font-size: 1.2rem;
    
    font-weight: 300;
    
    padding: 5px 10px;
    font-family: 'Basis Grotesque Pro' ;
    color: #fff;

    background-color: transparent;
    background-size: 100% 200%;
    background-position: 0 2.5%;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.5s;
        background-position: 0 2.5%;
        border: 1px solid #fff;
        background: none;
        padding: 5px 10px;
        font-size: 1.2rem;
        font-family: 'Basis Grotesque Pro' ;
        cursor: pointer;
} */

.login-button:hover{
    background-color: #55AAE5;
    color: #ffffff;
     option a{
      color: #ffffff;
    }
  #login-button:hover{
    color: #ffffff;
  }
   
}

/* .login-button a:hover{
  color: #fff;
  
} */

/* 
.nav-menubar ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color:orange;
    transition: all ease 1s;

} */

/* .nav-menubar ul li a:hover::after{
 
    width: 100%;


} */
.login-button option:hover{
  color: #ffffff;
}
.nav-menubar ul li a:hover{
  padding: 5px 10px;
  border: 1px solid #0000FF;
  color: #fff;
  background: #55AAE5;
  transition: 0.5s all;
  border-radius: 2px;
}


/* hidden menu section */

#hidden-menubar{
    font-size: 2rem;
    color: #fff;
    display: none;
}

/* Top-navbar-responsive section */

@media screen and (max-width: 768px){

  body{
    box-sizing: border-box;
  }

    #hidden-menubar{
        font-size: 2rem;
        color: #000;
        display:block;
        line-height: 1px;
        position: absolute;
        top: 30px;
        left: 90%;
    }
   .nav-logo{
    align-items: center;
   }
    .nav-logo img{
        padding: 0px 5px 0px 5px;
        background-color: transparent;
    }

.nav{
    height: fit-content;
    width: 100%;
    
    display: block;
    text-align: center;
    
    background-color:   #ffffff48;

}

/* Company Titel */

/* .nav-logo h1 a{
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, rgb(255, 51, 0), rgb(255, 60, 0));
    padding: 10px 0px 0px 0px;
    background-clip: text;
    color: transparent;
    
    
    
}
.nav h1 {
    font-size: 2.8rem;
    line-height:14px;
    padding-top: 35px;
    
    

} */

/* .nav h1 span{
    font-size: 0.8rem;

    margin-left: 3%;
} */

/* Menubar-section */

.nav .nav-menubar ul{
    display: none;

}


.nav .submenu{
    display: none;
}

/* button-section */
 .nav-button{
    
    display: none;
}


.navx .nav{
    height: fit-content;
    width: 100%;
    
    display: block;
    text-align: center;
    
    background-color: #ffffff;
   
    
    /* background-image: linear-gradient(to left,rgb(2, 2, 68), rgb(18, 18, 30), rgb(32, 32, 41),rgb(32, 32, 41), rgb(12, 11, 11), rgb(6, 6, 6) ) ;
     */

}

/* Company Titel */

/* .navx .nav-logo h1 a{
    text-decoration: none;
    background-image: linear-gradient(to right, yellow, rgb(255, 51, 0), rgb(255, 60, 0));
    padding: 10px 0px 0px 0px;
    background-clip: text;
    color: transparent;
    
    
    
}
.navx h1 {
    font-size: 2.8rem;
    line-height:14px;
    padding-top: 35px;
    
    

} */

/* .nav h1 span{
    font-size: 0.8rem;

    margin-left: 4%;
} */

/* Menubar-section */

.navx .nav-menubar ul{
    display: block;
    
}
.navx .nav-menubar ul li{
    list-style: none;
    /* padding: 10px 30px; */
}

.navx .nav-menubar ul li a{
    text-decoration: none;
    font-size: 1.7rem;
    color: #000;
    font-weight: 500;
    
    padding: 5px;
}
/* .navx .nav-menubar ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: #1D212B;
    transition: all ease 1s;

}
.navx .nav-menubar ul li a:hover::after{width: 100%;} */

.nav .submenu{
    display: none;
}

/* button-section */
.navx .nav-button{
    width: 100%;
    display: block;
    padding: 10px 0px;
}
.navx .nav-button button{
    
    border: 1px solid #1D212B;
    background: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    
color: #000;
    
}

.navx .signin-button{
    margin-left: 1%;
    padding: 8px 15px;
}

.navx .login-button{
    padding: 8px 20px;

}


/* .navx .nav-menubar ul li:hover{
   

    background-color: rgb(130, 202, 202);
    padding: 3px;
    color: rgb(54, 31, 3);
    border-top: 1px solid orangered ;
    border-bottom: 1px solid orangered ;
   
}
.navx .nav-menubar ul li a:hover{
    color: rgb(54, 31, 3);
    padding: 3px;
} */

.navx .nav-button button:hover{
    
    background-color:rgb(23,40,82); ;
    color: #ffffff;
}

.nav-menubar ul li a:hover{
    border: none;
}

.navy{
  opacity: 1;
background-image: none;
  background-color: #FFF8DC;
  position: sticky;
  top: 0%;
  a{ color: #000;}
  .login-button{
    color: #000;
    border: 1px solid #0000FF;
  }
  .nav-logo img{
    background-color: transparent;
  }
  
}

.navy .nav-menubar ul li a{
  color: #000;
}




}

@media screen and (max-width: 1200px){
    .nav-menubar ul li a:hover{
        .navx .nav-menubar ul li a::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 0%;
            background-color: #1D212B;
            transition: all ease 1s;
            
        
        }
        .navx .nav-menubar ul li a:hover::after{width: 100%;}
        
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


.promo{
    height: 50vh;
    display: flex;
    padding: 50px 30px;
    align-items: center;
    background-color: rgb(23,40,82);
    color: whitesmoke;
    justify-content: space-evenly;
    transform: translateX(-100%);
    transition: 2s;
}

section.show-animation .promo{

  transform: translateX(0);
  

}
.promo h2{
    line-height: 95%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

}

.promo .left{
  transition: 0.5s;
  animation: promoRight 1s linear ;
}
.promo .left, .right{
    width: 50%;
    padding: 5px 0px;
    display: flex;
    box-sizing: border-box;
}
.promo .right{
    text-align: center;
    display: flex;
    justify-content: center;
   transition: 0.5s;
    animation: promoTop 1s linear ;
    
}
.promo .right button{
  border: 0.5px white solid;
  padding: 10px;
  background-color: rgb(23,40,82);
  cursor: pointer;
  overflow: hidden;
  
}
.promo .right button:hover{
  box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 12px orange, 0 0 15px orange;
  transform: translateX(10px);
  transition: all ease 0.5s;

}
.promo .right a{
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: x-large;
}
.promo .left p{
    color: #d6d6d6;
}
.promo .left{
  margin-left: 100px;
  flex-direction: column;
}
.promo .left p, .promo .left h2, .promo .left h5{
  margin-bottom: 10px;
}





@keyframes promoTop {
  0%{
    transform: translate(0px,-100px);
  }
  100%{
    transform: translate(0px,0px);
  }
  
}


@keyframes promoRight {
  0%{
    transform: translate(-200px,0px);
  }
  100%{
    transform: translate(0px,0px);
  }
  
}




@media screen and (max-width:760px){

.promo {
  height: auto;
  flex-wrap: wrap;
  transform: translateX(0);
  padding: 20px 5px;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.promo .left{
  text-align: left;
  margin-left: 20px;
}


.promo .left p, .promo .left h2, .promo .left h5{
  text-align: left;
  margin: 10px 20px;
}
.promo .left p{
  text-align: left;
}
.promo .left,.right{

  width: 100%;
  animation: none;
  transform: translateX(0);
  padding: 0px;
  margin: 10px 0px;
  
}

.promo h2{
  font-size: x-large;
line-height: 30px;

}


section.animated-section.show-animation{


  padding: 10px;
  

}
section.show-animation .promo {
text-align: center;
}


}



.clients-scrolling-section {
  background: #f2f2f2;
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos-right {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
height:30vh;
}

.logos-right:before,
.logos-right:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos-right:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos-right:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-right:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide-right {
  display: inline-block;
  animation: 35s slide-right infinite linear;
}

.logos-slide-right img {
  height: 80px;
padding: 5px 10px;
  margin: 0 30px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
border-radius: 5px;

}
.logos-slide-right img:hover{

height: 85px;
transition: 0.2s linear;
}






@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.logos-left {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
height:30vh;
}

.logos-left:before,
.logos-left:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos-left:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos-left:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-left:hover .logos-slide-left {
  animation-play-state: paused;
}

.logos-slide-left {
  display: inline-block;
  animation: 35s slide-left infinite linear;
}

.logos-slide-left img {
  height: 80px;
padding: 5px 10px;
  margin: 0 30px;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
border-radius: 5px;

}
.logos-slide-left img:hover{

height: 85px;
transition: 0.2s linear;
}

.client{
  height: auto;
  padding: 20px 0px;
  margin:20px 0px;
  background-color: rgb(23,40,82); 
  text-align: center;
  
}

.client span{
  font-size: 2.5rem;
  display: inline-block;
  color: white ;
  padding: 10px 30px;
  font-weight: bold;
  background-color: rgb(23,40,82);

}